@charset "UTF-8";
/* css document */

.encabezado h1{
        margin-left: 50px;
        margin-right: 60%;
font-size: 20px;
font-family: 'Poppins', sans-serif;
}

.encabezado{
position: fixed;
width: 100%;
height: 100px;
top: 0;
display: flex;
flex-direction: row;
align-items: center;
font-family: 'Poppins', sans-serif;
}

.nav3{
color: black;
text-decoration: none;
position: fixed;
width: 100%;
margin-left: -50px;
} 

nav > ul > li{
float: right;
}

nav a{
text-decoration: none;

}

nav li{
list-style: none;
margin-left: 15px;
}

.encabezado div{
padding: 5px;
font-size: 15px;
}

/*Imagen logo rejilla y texto inicio*/

.inicio{
width: 100%;
height: 700px;
background: url('../img/fondo1.png');
}

.cajatexto{
display: flex;
padding: 250px;
flex-direction: column;
text-align: center;
height: 100vh;
width:100%;
color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
font-size: 25px;
}

/*Inicio contenido y cuerpo de la pagina*/

.contenido{
width: 100%;
height: 1530px;
background-color: #ba7a7c;
}

/*Texto informativo sobre los procesoso que realizo*/

.info{
width: 100%;
height: 200px;
background-color: #ffffff;
display: flex;
}

.cajatextoinfo{
    width: 80%;
    margin-left: 15%;
}

.textoinfo{
font-size: 15px;
width: 80%;
text-align: justify;
font-family: 'Poppins', sans-serif;
padding-top: 50px;
}

/*Titulo galeria*/

.titlegaleria{
width: 100%;
height: 100px;
background-color: #f2e2e2;
display: flex;
}

.textogaleria{
font-size: 15px;
width: 100%;
margin-left: 230%;
padding-top: 40px;
font-family: 'Poppins', sans-serif;
text-align: center;
align-items: center;
}

/*Galeria*/

.galeria{
width: 100%;
height: 500px;
padding-top: 30px;
background-color: #f2e2e2;
}

/*Titulo quien soy informacion*/

.titleperfil{
width: 100%;
height: 80px;
background-color: #e5c5c5;
display: flex;
}

.cajatextoperfil{
width: 100%;
}

.textoperfil{
font-size: 15px;
width: 100%;
padding-top: 40px;
font-family: 'Poppins', sans-serif;
text-align: center;
align-items: center;
}

/*Imagen y texto quien soy*/

.quiensoy{
width: 100%;
height: 400px;
background-color: #e5c5c5;
display: flex;
}

.cajaimg{
width: 30%;
text-align: center;
padding-top: 30px;
margin-left: 5%;
margin-right: 5%;
}

.cajatextoquiensoy{
width: 70%;
}

.textoquiensoy{
font-family: 'Poppins', sans-serif;
font-size: 15px;;
padding-top: 100px;
margin-left: 5%;
margin-right: 7%;
text-align: justify;
}

/*Imagen y texto final*/

.infofinal{
width: 100%;
height: 250px;
background-color: #d7a9a9;
display: flex;
}

.cajaimglogo{
width: 10%;
text-align: center;
padding-top: 30px;
margin-left: 5%;
margin-right: 5%;
}

.cajatextinfofinal{
width: 70%;
}

.textoinfofinal{
font-family: 'Poppins', sans-serif;
font-size: 15px;;
padding-top: 60px;
margin-left: 0%;
margin-right: 0%;
text-align: justify;
}

/*derechos de autor*/

.derechosautor{
width: 100;
height: 50px;
padding:1px;
background-color: #ffffff;
font-family: 'Poppins', sans-serif;
text-align: center;
align-items: center;
}


/*Panel redes sociales*/

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-142px;
    top:90px;
    width:208px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:rgba(242, 226, 226, 0.50);
    color:rgba(242, 226, 226, 0.50);
    height:35px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#000000;
}
.sticky li p a:hover{
    text-decoration:underline;
}
